Repository microsoft/CsWin32: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/unofficial.yml

Path conditions:
  azure-pipelines.yml: any file but: doc, *.md, .vscode, .github, azure-pipelines/release.yml
  azure-pipelines/unofficial.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Test PCSTR null termination at runtime
  test/Microsoft.Windows.CsWin32.Tests/FriendlyOverloadTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Move PCSTR coverage to runtime tests
  test/GenerationSandbox.Tests/BasicTests.cs
  test/GenerationSandbox.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/FriendlyOverloadTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Null-terminate PCSTR friendly overload strings (#1781)
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  test/GenerationSandbox.Tests/BasicTests.cs
  test/GenerationSandbox.Tests/NativeMethods.txt
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Qualify special string typedefs (PCWSTR) to Windows.Win32.Foundation for non-Win32 metadata
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/Generator.cs
  test/Microsoft.Windows.CsWin32.Tests/ExternalMetadata/NOTICE.md
  test/Microsoft.Windows.CsWin32.Tests/ExternalMetadata/SelfContained.il
  test/Microsoft.Windows.CsWin32.Tests/ExternalMetadata/SelfContained.winmd
  test/Microsoft.Windows.CsWin32.Tests/MultiMetadataTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Qualify special string typedefs (PCWSTR) to Windows.Win32.Foundation for non-Win32 metadata (#1786)
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/Generator.cs
  test/Microsoft.Windows.CsWin32.Tests/ExternalMetadata/NOTICE.md
  test/Microsoft.Windows.CsWin32.Tests/ExternalMetadata/SelfContained.il
  test/Microsoft.Windows.CsWin32.Tests/ExternalMetadata/SelfContained.winmd
  test/Microsoft.Windows.CsWin32.Tests/MultiMetadataTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Retry transient Renovate restores
  .github/workflows/build.yml
  .github/workflows/docs_validate.yml
  init.ps1
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Keep xUnit v4 on the VSTest runner
  Directory.Packages.props
  test/CsWin32Generator.BuildTasks.Tests/CsWin32Generator.BuildTasks.Tests.csproj
  test/CsWin32Generator.Tests/CsWin32Generator.Tests.csproj
  test/GenerationSandbox.props
  test/Microsoft.Windows.CsWin32.Tests/Microsoft.Windows.CsWin32.Tests.csproj
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Migrate test projects to MTP v2
  Directory.Packages.props
  Microsoft.Windows.CsWin32.sln
  global.json
  test/CsWin32Generator.BuildTasks.Tests/CsWin32Generator.BuildTasks.Tests.csproj
  test/CsWin32Generator.BuildTasks.Tests/xunit.runner.json
  test/CsWin32Generator.Tests/CsWin32Generator.Tests.csproj
  test/CsWin32Generator.Tests/xunit.runner.json
  test/Directory.Build.props
  test/Directory.Build.targets
  test/GenerationSandbox.Tests/xunit.runner.json
  test/GenerationSandbox.props
  test/Microsoft.Windows.CsWin32.Tests/Microsoft.Windows.CsWin32.Tests.csproj
  test/Microsoft.Windows.CsWin32.Tests/xunit.runner.json
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Run test automation on MTP v2
  .github/copilot-instructions.md
  .github/workflows/build.yml
  CONTRIBUTING.md
  azure-pipelines/build.yml
  tools/artifacts/coverageResults.ps1
  tools/artifacts/crashDumps.ps1
  tools/dotnet-test-cloud.ps1
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Make auto WinRT marshalling tests resilient
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Automatically marshal COM outputs as WinRT (#1771)
  .github/workflows/build.yml
  Microsoft.Windows.CsWin32.sln
  azure-pipelines/integration-test.yml
  docs/design/adaptive-com-winrt-object-marshalling.md
  integration-tests/buildtask-sdk/app/buildtask-sdk.csproj
  src/Microsoft.Windows.CsWin32/Generator.Com.cs
  src/Microsoft.Windows.CsWin32/Generator.ComOutPtr.cs
  src/Microsoft.Windows.CsWin32/Generator.Extern.cs
  src/Microsoft.Windows.CsWin32/Generator.Features.cs
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/Generator.WhitespaceRewriter.cs
  src/Microsoft.Windows.CsWin32/Generator.cs
  src/Microsoft.Windows.CsWin32/GeneratorOptions.cs
  src/Microsoft.Windows.CsWin32/settings.schema.json
  src/Microsoft.Windows.CsWin32/templates/ComOrWinRTObjectMarshaller.cs
  test/GenerationSandbox.AutoWinRTDisabled.Tests/AutoWinRTMarshallingDisabledTests.cs
  test/GenerationSandbox.AutoWinRTDisabled.Tests/GenerationSandbox.AutoWinRTDisabled.Tests.csproj
  test/GenerationSandbox.AutoWinRTDisabled.Tests/NativeMethods.json
  test/GenerationSandbox.AutoWinRTDisabled.Tests/NativeMethods.txt
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
  test/GenerationSandbox.BuildTask.Tests/NativeMethods.txt
  test/GenerationSandbox.BuiltInCom.Tests/AutoWinRTMarshallingBuiltInComTests.cs
  test/GenerationSandbox.BuiltInCom.Tests/GenerationSandbox.BuiltInCom.Tests.csproj
  test/GenerationSandbox.BuiltInCom.Tests/NativeMethods.json
  test/GenerationSandbox.BuiltInCom.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Quote generator tool path in command line
  src/Microsoft.Windows.CsWin32.BuildTasks/CsWin32CodeGeneratorTask.cs
  test/CsWin32Generator.BuildTasks.Tests/BuildTaskTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Preserve coclass generic type fields for AOT
  src/Microsoft.Windows.CsWin32/Generator.Com.cs
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
  test/GenerationSandbox.BuildTask.Tests/GenerationSandbox.BuildTask.Tests.csproj
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Quote generator tool path in command line (#1809)
  src/Microsoft.Windows.CsWin32.BuildTasks/CsWin32CodeGeneratorTask.cs
  test/CsWin32Generator.BuildTasks.Tests/BuildTaskTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Avoid reflection in classic COM RCW test
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Preserve classic RCW test semantics
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Use typed Activator for classic COM test
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Preserve coclass generic type fields for AOT (#1810)
  src/Microsoft.Windows.CsWin32/Generator.Com.cs
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
  test/GenerationSandbox.BuildTask.Tests/GenerationSandbox.BuildTask.Tests.csproj
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Make generator path quoting test cross-platform
  test/CsWin32Generator.BuildTasks.Tests/BuildTaskTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Run all portable test projects on Linux
  .github/workflows/build.yml
Due: azure-pipelines/unofficial.yml

Install Mono for Linux tests
  .github/workflows/build.yml
Due: azure-pipelines/unofficial.yml

Install complete Mono runtime for Linux tests
  .github/workflows/build.yml
Due: azure-pipelines/unofficial.yml

Exclude Windows-only tests on Linux
  .github/workflows/build.yml
Due: azure-pipelines/unofficial.yml

Make Mono installation noninteractive
  .github/workflows/build.yml
Due: azure-pipelines/unofficial.yml

Make generator path quoting test cross-platform (#1812)
  .github/workflows/build.yml
  test/CsWin32Generator.BuildTasks.Tests/BuildTaskTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Use current GitHub service connection for releases
  azure-pipelines/release.yml
Due: none

Temporarily run GitHub release after diagnostic conflict
  azure-pipelines/release.yml
Due: none

Remove diagnostic release condition
  azure-pipelines/release.yml
Due: none

Fix GitHub release service connection (#1813)
  azure-pipelines/release.yml
Due: none

Support the updated memory safety rules (C# 15 / .NET 11)
  docfx/docs/getting-started.md
  src/CsWin32Generator/Program.cs
  src/Microsoft.Windows.CsWin32.BuildTasks/CsWin32CodeGeneratorTask.cs
  src/Microsoft.Windows.CsWin32/FastSyntaxFactory.cs
  src/Microsoft.Windows.CsWin32/Generator.Features.cs
  src/Microsoft.Windows.CsWin32/Generator.MemorySafetyRewriter.cs
  src/Microsoft.Windows.CsWin32/Generator.WhitespaceRewriter.cs
  src/Microsoft.Windows.CsWin32/Generator.cs
  src/Microsoft.Windows.CsWin32/build/Microsoft.Windows.CsWin32.targets
  test/CsWin32Generator.BuildTasks.Tests/BuildTaskTests.cs
  test/Microsoft.Windows.CsWin32.Tests/UpdatedMemorySafetyRulesTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Fix the build task feature-flag test expectations
  test/CsWin32Generator.BuildTasks.Tests/BuildTaskTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Exclude Foundation.Metadata from direct generation
  src/Microsoft.Windows.CsWin32/Generator.cs
  test/Microsoft.Windows.CsWin32.Tests/GeneratorTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Fix IInspectable-derived COM interface layout
  src/Microsoft.Windows.CsWin32/Generator.Com.cs
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/templates/ComOrWinRTObjectMarshaller.cs
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
  test/GenerationSandbox.BuildTask.Tests/NativeMethods.txt
  test/GenerationSandbox.BuiltInCom.Tests/AutoWinRTMarshallingBuiltInComTests.cs
  test/GenerationSandbox.BuiltInCom.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Support projected WinRT runtime-class outputs
  docs/design/adaptive-com-winrt-object-marshalling.md
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/templates/ComOrWinRTObjectMarshaller.cs
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.Iid.cs
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
  test/GenerationSandbox.BuiltInCom.Tests/AutoWinRTMarshallingBuiltInComTests.cs
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Fix IInspectable-derived COM interface layout (#1822)
  docs/design/adaptive-com-winrt-object-marshalling.md
  src/Microsoft.Windows.CsWin32/Generator.Com.cs
  src/Microsoft.Windows.CsWin32/templates/ComOrWinRTObjectMarshaller.cs
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.Iid.cs
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
  test/GenerationSandbox.BuildTask.Tests/NativeMethods.txt
  test/GenerationSandbox.BuiltInCom.Tests/AutoWinRTMarshallingBuiltInComTests.cs
  test/GenerationSandbox.BuiltInCom.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Update .NET SDK to 10.0.401
  global.json
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Update .NET SDK to 10.0.401 (#1824)
  global.json
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Fix XML documentation for colliding Win32 ABI types
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/templates/PWSTR.cs
  test/Microsoft.Windows.CsWin32.Tests/FriendlyOverloadTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml

Generate safe COM output pointer ABI
  src/Microsoft.Windows.CsWin32/Generator.Com.cs
  src/Microsoft.Windows.CsWin32/Generator.ComOutPtr.cs
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/Generator.cs
  src/Microsoft.Windows.CsWin32/templates/ComOrWinRTObjectMarshaller.cs
  src/Microsoft.Windows.CsWin32/templates/ComOutPtr.cs
  test/GenerationSandbox.AutoWinRTDisabled.Tests/AutoWinRTMarshallingDisabledTests.cs
  test/GenerationSandbox.AutoWinRTDisabled.Tests/NativeMethods.txt
  test/GenerationSandbox.BuildTask.Tests/ComOutPtrMarshallingTests.cs
  test/GenerationSandbox.BuildTask.Tests/NativeMethods.txt
  test/GenerationSandbox.BuiltInCom.Tests/AutoWinRTMarshallingBuiltInComTests.cs
  test/GenerationSandbox.BuiltInCom.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/unofficial.yml
