Repository microsoft/CsWin32: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines.yml: any file but: doc, *.md, .vscode, .github, azure-pipelines/release.yml
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode

Fix build break from missing intermediate directory
  src/VSInsertionMetadata/VSInsertionMetadata.targets
Due: azure-pipelines.yml, azure-pipelines/official.yml

Preserve null terminating character in `ref Span<char>` parameters
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  test/GenerationSandbox.Tests/BasicTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Use a template output to publish the symbol-legacy artifact
  azure-pipelines/Prepare-Legacy-Symbols.ps1
  azure-pipelines/build.yml
  azure-pipelines/publish-symbols.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml

Avoid running tests on mono for test project
  test/Library.Tests/Library.Tests.csproj
Due: azure-pipelines.yml, azure-pipelines/official.yml

Touch-up optprof pipelines
  azure-pipelines/OptProf_part2.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add github workflow to keep current with Library.Template
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Bump MicroBuild to 2.0.171
  Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Verify formatted code on GitHub workflows
  .github/workflows/build.yml
Due: azure-pipelines/official.yml

Implemented LOWORD and HIWORD macros for extracting low-order and high-order words from a 32-bit value.
  src/Microsoft.Windows.CsWin32/templates/PInvokeClassMacros.cs
  test/GenerationSandbox.Tests/MacroTests.cs
  test/GenerationSandbox.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/MacrosTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Rename parameter 'l' to 'value' in LOWORD and HIWORD macros
  src/Microsoft.Windows.CsWin32/templates/PInvokeClassMacros.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add docfx site placeholder
  .config/dotnet-tools.json
  .github/workflows/docs.yml
  CONTRIBUTING.md
  Expand-Template.ps1
  docfx/.gitignore
  docfx/docfx.json
  docfx/docs/features.md
  docfx/docs/getting-started.md
  docfx/docs/toc.yml
  docfx/index.md
  docfx/toc.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix release notes link to work by default
  Directory.Build.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix flags sent to codecov.io
  .github/workflows/build.yml
  azure-pipelines/dotnet.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml

Bump .NET SDK to 9.0
  global.json
Due: azure-pipelines.yml, azure-pipelines/official.yml

Target .NET 8 instead of .NET 6
  src/Library/Library.csproj
  test/Library.Tests/CalculatorTests.cs
  test/Library.Tests/Library.Tests.csproj
  tools/Install-NuGetCredProvider.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Skip PR creation step when no changes are present to merge
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Fix token permissions for Library.Template update workflow
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Print diff of what has changed recently
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Compile with C# language version 13
  Directory.Build.targets
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix to avoid deprecation warning
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Update prerequisite verbiage
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Avoid pushing workflow changes in Library.Template updates
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Improve placement of warning
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Fix libtemplate update workflow
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Avoid `dotnet format` hang
  Directory.Packages.props
  azure-pipelines/build.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml

Update devcontainer for latest SDK and extension
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: azure-pipelines.yml, azure-pipelines/official.yml

Get dependabot to help us keep the .NET SDK current
  .github/dependabot.yml
Due: azure-pipelines/official.yml

Replace `Nullable` with `PolySharp` as a dependency
  Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add docfx verification to build
  .github/workflows/build.yml
Due: azure-pipelines/official.yml

Fix nb.gv failure during docfx build
  .github/workflows/docs.yml
Due: azure-pipelines/official.yml

Bump docfx to 2.78.2
  .config/dotnet-tools.json
Due: azure-pipelines.yml, azure-pipelines/official.yml

Bump dotnet-coverage to 17.13.1
  .config/dotnet-tools.json
Due: azure-pipelines.yml, azure-pipelines/official.yml

Move artifact publishing into a composite action
  .github/actions/publish-artifacts/action.yaml
  .github/workflows/build.yml
Due: azure-pipelines/official.yml

Make the CI workflow dispatchable
  .github/workflows/build.yml
  .github/workflows/libtemplate-update.yml
Due: azure-pipelines/official.yml

Fix code coverage merge on GitHub Actions
  azure-pipelines/artifacts/coverageResults.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add release workflow
  .github/workflows/release.yml
Due: azure-pipelines/official.yml

Fix docfx build on private repos
  .github/workflows/docs.yml
Due: azure-pipelines/official.yml

Document release process
  CONTRIBUTING.md
Due: none
