Repository microsoft/CsWin32: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines.yml: any file but: doc, *.md, .vscode, .github, azure-pipelines/release.yml
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode

Fix handling of polyfill'd internal `UnmanagedCallersOnlyAttribute` leaking from a referenced assembly
  src/Microsoft.Windows.CsWin32/Generator.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add runtime coverage for .NET 9
  test/GenerationSandbox.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix docfx build
  src/Microsoft.Windows.CsWin32/SuperGenerator.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Start building up the docfx site
  README.md
  docfx/docs/ArchSpecificAPIs.md
  docfx/docs/features.md
  docfx/docs/getting-started.md
  docfx/docs/toc.yml
  docfx/images/ConfigurationManager_x64.png
  docfx/images/StandardToolbarPlatformSwitcher.png
  docfx/images/demo.gif
Due: azure-pipelines.yml, azure-pipelines/official.yml

Improve docfx links
  README.md
  docfx/toc.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml

Allow deletion of the metadata files while the compiler process is running
  src/Microsoft.Windows.CsWin32/Generator.cs
  src/Microsoft.Windows.CsWin32/MetadataCache.cs
  src/Microsoft.Windows.CsWin32/MetadataFile.cs
  src/Microsoft.Windows.CsWin32/MetadataIndex.cs
  src/Microsoft.Windows.CsWin32/SourceGenerator.cs
  test/Microsoft.Windows.CsWin32.Tests/GeneratorTestBase.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add GitS sponsorship badge
  README.md
Due: none

Revert "Add GitS sponsorship badge"
  README.md
Due: none

Bump System.Memory to 4.6.0 for test projects
  Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Minor PR adjustments
  src/Microsoft.Windows.CsWin32/templates/PInvokeClassMacros.cs
  test/Microsoft.Windows.CsWin32.Tests/MacrosTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Generate `WinRTCustomMarshaler` when referenced from extern methods
  src/Microsoft.Windows.CsWin32/Generator.GeneratedCode.cs
  src/Microsoft.Windows.CsWin32/Generator.cs
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Use C# 13 overload resolution attribute to improve friendly overloads experience
  src/Microsoft.Windows.CsWin32/Generator.Features.cs
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/Generator.Templates.cs
  src/Microsoft.Windows.CsWin32/Generator.cs
  src/Microsoft.Windows.CsWin32/SimpleSyntaxFactory.cs
  src/Microsoft.Windows.CsWin32/templates/OverloadResolutionPriorityAttribute.cs
  test/Microsoft.Windows.CsWin32.Tests/ExternMethodTests.cs
  test/Microsoft.Windows.CsWin32.Tests/GeneratorTestBase.cs
  test/SpellChecker/SpellChecker.csproj
  test/WinRTInteropTest/WinRTInteropTest.csproj
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix QueryInterface build break when friendly overloads are turned off
  src/Microsoft.Windows.CsWin32/templates/IUnknownHelperMethods.cs
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Omit QueryInterface helper method when friendly overloads are turned off
  src/Microsoft.Windows.CsWin32/Generator.Com.cs
  test/Microsoft.Windows.CsWin32.Tests/COMTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Bump nuget.exe build tool to 6.12.2
  tools/Get-NuGetTool.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Improve `[Out] PWSTR` parameters in friendly overloads
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  test/GenerationSandbox.Tests/BasicTests.cs
  test/GenerationSandbox.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/FriendlyOverloadTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Suppress an expected doc warning
  .github/workflows/build.yml
Due: azure-pipelines/official.yml

Remove dependabot.yml
  .github/dependabot.yml
Due: azure-pipelines/official.yml

Stick with .NET 8 packages
  .github/renovate.json
Due: azure-pipelines/official.yml

Update microbuild to 2.0.181
  Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Avoid daily updates of VS packages
  .github/renovate.json
Due: azure-pipelines/official.yml

Update dependency ubuntu to v24
  .github/workflows/docs_validate.yml
Due: azure-pipelines/official.yml

Group VS SDK package updates
  .github/renovate.json
Due: azure-pipelines/official.yml

Update becheran/mlc action to v0.19.2
  .github/workflows/docs_validate.yml
Due: azure-pipelines/official.yml

Fix mlc suppressions for SECURITY.md
  .github/workflows/docs_validate.yml
Due: azure-pipelines/official.yml

Renovate should not update to versions from non-release branches
  .github/renovate.json
Due: azure-pipelines/official.yml

Drop group name in renovate
  .github/renovate.json
Due: azure-pipelines/official.yml

Friendly overloads replace `PCWSTR*` parameters with `ReadOnlySpan<string>`
  src/Microsoft.Windows.CsWin32/FastSyntaxFactory.cs
  src/Microsoft.Windows.CsWin32/Generator.FriendlyOverloads.cs
  src/Microsoft.Windows.CsWin32/Generator.WhitespaceRewriter.cs
  test/GenerationSandbox.Tests/GeneratedForm.cs
  test/GenerationSandbox.Tests/NativeMethods.txt
  test/Microsoft.Windows.CsWin32.Tests/FriendlyOverloadTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix CI test runs
  test/GenerationSandbox.Tests/BasicTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Adjust renovate to lock in VS 2019 Update 11 targeting
  .github/renovate.json
  Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Disable renovate from updating any analyzer-specific assemblies
  .github/renovate.json
  Directory.Packages.Analyzers.props
  Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Pin System.Text.Json for analyzers
  Directory.Packages.Analyzers.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Bump MicroBuildVersion to 2.0.187
  Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Bump System.Text.Encodings.Web to 4.7.2 (again)
  Directory.Packages.Analyzers.props
  Microsoft.Windows.CsWin32.sln
Due: azure-pipelines.yml, azure-pipelines/official.yml

Do not verify signed binaries in LocBin artifact
  azure-pipelines/official.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml
